@{
    ViewData["Title"] = "Sales Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string ReportType = ViewBag.Type;
}

<style>
    #tblDataTable_filter > label {
        width: 60%;
    }

        #tblDataTable_filter > label > .form-control-sm {
            width: 87%;
        }
</style>


@if (ReportType == "SalesSummary")
{
    <div class="row" style="padding-left:15px;">
        <div class="row card card-success col-md-12">
            <div class="card-header"><h3 class="card-title">@WebResource.SalesReport</h3></div>
            <div class="row" style="padding-left:15px;">
                <div class="col-md-12" id="printReport">
                    <div class="row col-md12" style="margin-top:20px;">
                        <div class="col-sm-3">
                            <label for="SupplierId">Stores</label>
                            <select name="StoreId" id="SupplierId" class="form-control" asp-items="@ViewBag.Stores">
                                <option value="0">All Stores</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="Balance">From Date</label>
                            <input type="text" id="txtDate1" name="txtDate1" class="form-control datefield" />
                        </div>
                        <div class="col-md-2">
                            <label for="Balance">To Date</label>
                            <input type="text" id="txtDate2" name="txtDate2" class="form-control datefield" />
                        </div>
                 
                        <div class="col-md-3">
                            <label for="Orientation">Orientation</label>
                            <select name="pageType" id="pageType" class="form-control">
                                <option value="Portrait">Portrait</option>
                                <option value="Landscape">Landscape</option>
                            </select>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="form-floating col-md-12">
                            <h4>Report Columns</h4>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-2">
                                <input type="checkbox" name="CompanyName" id="CompanyName" value="Company Name" class="chPrint" checked disabled />
                                <label for="CompanyName" style="font-weight:400;">CompanyName</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="InvoiceDate" id="InvoiceDate" value="Invoice Date" class="chPrint" checked />
                                <label for="InvoiceDate" style="font-weight:400;">Invoice Date</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="InvoiceNo" id="InvoiceNo" value="Invoice No" class="chPrint" checked />
                                <label for="InvoiceNo" style="font-weight:400;">Invoice No</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="ItemPrice" id="ItemPrice" value="Item Price" class="chPrint" checked />
                                <label for="ItemPrice" style="font-weight:400;">Item Price</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="Qty" id="Qty" value="Qty" class="chPrint" checked />
                                <label for="Qty" style="font-weight:400;">Qty</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="SaleAmount" id="SaleAmount" value="Sale Amount" class="chPrint" checked />
                                <label for="SaleAmount" style="font-weight:400;">Sale Amount</label>
                            </div>
                            
                            
                      
                          
                        </div>

                        <div class="row col-md-12">
                    
                            <div class="col-md-2">
                                <input type="checkbox" name="Discount" id="Discount" value="Discount" class="chPrint" checked />
                                <label for="Discount" style="font-weight:400;">Discount</label>
                            </div>
                            <div class="col-md-3">
                                <input type="checkbox" name="SalesAfterDiscount" id="SalesAfterDiscount" value="Sales After Discount" class="chPrint" checked />
                                <label for="SalesAfterDiscount" style="font-weight:400;">Sales After Discount</label>
                            </div>
                            <div class="col-md-1">
                                <input type="checkbox" name="Tax" id="Tax" value="Tax" class="chPrint" checked />
                                <label for="Tax" style="font-weight:400;">Tax</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="Return" id="Return" value="Return" class="chPrint" checked />
                                <label for="Return" style="font-weight:400;">Return</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="Cash" id="Cash" value="Cash" class="chPrint" checked />
                                <label for="Cash" style="font-weight:400;">Cash</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" name="Bank" id="Bank" value="Bank" class="chPrint" checked />
                                <label for="Bank" style="font-weight:400;">Bank</label>
                            </div>


                        </div>

                    </div>
                    <form id="frmPrint" action="">
                        <input type="hidden" name="PrintColumns" id="PrintColumns" value="Company Name,Invoice Date,Invoice No.,Item Price,Qty,Sale Amount,Discount,Sales After Discount,Tax,Return,Cash,Bank" />
                    </form>
                </div>
                <div class="row col-md-12">
                    <button id="btnSupplierReportGen" type="button" class="btn btn-primary col-md-2">Print</button>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $("form").attr('autocomplete', 'off');

        $(".datefield").datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
            todayHighlight: true,
            autoclose: true
        });

        $("#SupplierId").select2();

        $("#RecordType").change(function () {
            $("#txtBalance").val('');

            let t = $(this).val();
            if (t == "all") {
                $("#txtBalance").attr('readonly', 'readonly');
            }
            else {
                $("#txtBalance").removeAttr('readonly');
                $("#txtBalance").focus();
            }

        });

        $(".chPrint").click(function () {
            let str = "";
            $(".chPrint").each(function () {
                if ($(this).is(':checked')) {
                    if (str == "") {
                        str = $(this).val();
                    }
                    else {
                        str += "," + $(this).val();
                    }
                }
            });
            $("#PrintColumns").val(str);

        });

        function ReportPopup(Doc) {
            let FileName = "/Reports/" + Doc;
            printJS(FileName);
        }

        $("#btnSupplierReportGen").click(function () {
            let cols = $("#PrintColumns").val();
            let storeId = $("#SupplierId").val();
            let date1 = $("#txtDate1").val();
            let date2 = $("#txtDate2").val();
            let status = $("#Status").val();
            let type = $("#pageType").val();
            $.ajax({
                url: "/Sales/CreateSalesReport",
                type: "POST",
                dataType: "json",
                data: { storeId: storeId, fromDt: date1, toDt: date2, status: status, colnames: cols, pagetype: type },
                success: function (data) {
                    var result = JSON.parse(JSON.stringify(data));
                    ReportPopup(result);
                },
                error: function (data) {
                    swal({
                        type: 'error',
                        title: "@Html.Raw(WebResource.Oops)",
                        text: "@Html.Raw(WebResource.SomethingWentWrong)",
                    });
                }
            });
        });
    </script>
}
}







