@{
    ViewData["Title"] = "Main Dashboard";
    Layout = "/Views/Shared/_DashboardPageLayout.cshtml";
}

<div class="row" style="margin-top:50px;">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-gradient-danger">
              <div class="inner">
                <h5>Site Admin</h5>
                <p>&nbsp;</p>
              </div>
              <div class="icon">
                <i class="fas fa-tachometer-alt"></i>
              </div>
            <a href="/Administrator" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
         </div>
    </div>

    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-gradient-success">
              <div class="inner">
                <h5>HRMS</h5>
                <p>&nbsp;</p>
              </div>
              <div class="icon">
                <i class="fa fa-users"></i>
              </div>
              <a href="/HRMS" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
         </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-primary">
              <div class="inner">
                <h5>
                    Warehouse & Inventory
                </h5>
                <p>&nbsp;</p>
              </div>
              <div class="icon">
                <i class="fas fa-warehouse" ></i>
              </div>
            <a href="/Warehouse" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
         </div>
    </div>

     <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
              <div class="inner">
                <h5>
                    Purcahse & Pocurment
                </h5>
                <p>&nbsp;</p>
              </div>
              <div class="icon">
                <i class="fas fa-shopping-cart"></i>
              </div>
            <a href="/Purchasing" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
         </div>
    </div>

    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
              <div class="inner">
                <h5>Finance</h5>
                <p>&nbsp;</p>
              </div>
              <div class="icon">
                <i class="fas fa-file-invoice"></i>
              </div>
            <a href="/Finance" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
         </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-indigo">
            <div class="inner">
                <h5>POS</h5>
                <p>&nbsp</p>
            </div>
            <div class="icon">
                <i class="fas fa-shopping-cart"></i>
            </div>
            <a href="/POS" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-lime">
            <div class="inner">
                <h5>CRM</h5>
                <p>&nbsp</p>
            </div>
            <div class="icon">
                <i class="fas fa-envelope-open-text"></i>
            </div>
            <a href="/CRM" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-orange">
            <div class="inner">
                <h5>Ecommerce</h5>
                <p>&nbsp</p>
            </div>
            <div class="icon">
                <i class="fas fa-wallet"></i>
            </div>
            <a href="/Ecommerce" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-gradient-indigo">
            <div class="inner">
                <h5>Merchants & Promotions</h5>
                <p>&nbsp</p>
            </div>
            <div class="icon">
                <i class="fa fa-bullhorn"></i>
            </div>
            <a href="/Merchant" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>


    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-teal">
            <div class="inner">
                <h5>Project Managment</h5>
                <p>&nbsp</p>
            </div>
            <div class="icon">
                <i class="fa fa-share-alt"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h5>Operations</h5>
                <p>&nbsp</p>
            </div>
            <div class="icon">
                <i class="fas fa-cog"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
     <!-- ./col -->
  <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-gradient-lightblue">
            <div class="inner">
                <h5>Planing</h5>
                <p>&nbsp</p>
            </div>
            <div class="icon">
                <i class="fas fa-tasks"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
  </div>  