@{
    ViewData["Title"] = "POS Dashboard";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<div class="row" style="margin-top:5px;">
    <div class="col-md-12"><h3>POS Dashboard</h3></div>
    <div class="row col-md-12" style="margin-bottom:25px;">
        <div class="col-md-3"></div>
        <div class="col-md-1" style="text-align:right; padding-top:7px;"><label>Filter By</label> </div>
        <div class="col-md-2">
            <input type="text" name="txtDate1" id="txtDate1" class="form-control datefield" placeholder="From Date" />
        </div>
        <div class="col-md-2">
            <input type="text" name="txtDate2" id="txtDate2" class="form-control datefield" placeholder="To Date" />
        </div>
        <div class="col-md-1">
            <input type="button" id="btnSearch" name="btnSearch" class="btn btn-info" value="Search" />
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-gradient-success">
            <div class="inner">
                <h3>0</h3>

                <p>Total Sales</p>
            </div>
            <div class="icon">
                <i class="fas fa-search-dollar" aria-hidden="true"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-gradient-warning">
            <div class="inner">
                <h3>0</h3>

                <p>Total Return</p>
            </div>
            <div class="icon">
                <i class="fas fa-angle-double-down" aria-hidden="true"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-gradient-orange">
            <div class="inner">
                <h3>0</h3>

                <p>Total Return Voucher</p>
            </div>
            <div class="icon">
                <i class="fas fa-angle-double-down" aria-hidden="true"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-gradient-red">
            <div class="inner">
                <h3>0</h3>

                <p>Total Hold Invoices</p>
            </div>
            <div class="icon">
                <i class="fa fa-ban" aria-hidden="true"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-gradient-green">
            <div class="inner">
                <h3>0</h3>

                <p>Total Number of Casiher Users</p>
            </div>
            <div class="icon">
                <i class="fa fa-users" aria-hidden="true"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-gradient-green">
            <div class="inner">
                <h3>0</h3>

                <p>Cashier sales For The Day</p>
            </div>
            <div class="icon">
                <i class="fas fa-comment-dollar" aria-hidden="true"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-gradient-orange">
            <div class="inner">
                <h3>0</h3>

                <p>Total Invoice Due</p>
            </div>
            <div class="icon">
                <i class="fa fa-calculator" aria-hidden="true"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

     <div class="col-lg-3 col-6">
        <div class="small-box bg-gradient-indigo">
            <div class="inner">
                <h3>0</h3>

                <p>Sales Graph Register</p>
            </div>
            <div class="icon">
                <i class="fa fa-bars"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

</div>