@page "/Account/ForgotPasswordConfirmation"
@model ForgotPasswordConfirmationModel
@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "WinPro Forgot Password Confirmation";
}

<div class="row">
    <div class="col-md-12">
        <h3 style="padding:10px 20px; background-color:#fff;">WinPro Forgot Password Confirmation</h3>
        <h5 style="padding:10px 20px; background-color:#fff;">Please check your email to reset your password.</h5>
</div>
</div>